<div class="logo">
  <img src="/images/play-circle.svg" alt="play image for logo" />
  <a href="index.html"> Find<span class="highlight">Movie</span></a>
</div>
<div class="search">
  <!-- <div><img src="/images/search.svg" alt="search icon" class="search-logo" /></div> -->
  <!-- <input class="search-text" autocomplete="off" autocorrect="off" maxlength="100"
        placeholder="🔍 What do you want to watch? " enterkeyhint="search" inputmode="search" rows="1"
        spellcheck="false" type="search" value="" /> -->
  <div>
    <label class="search-label" for="search">What do you want to watch?</label>
    <input
      type="search"
      name="search"
      id="search"
      class="search-text"
      placeholder="🔍 What do you want to watch? "
    />
  </div>
</div>
